.header {
  display: flex;
  justify-content: space-between;
  padding: 85px 49px 92px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 31px;
}

.header__links-list-item {
  list-style-type: circle;
}

.link_active {
  text-decoration: none;
}

.header__menu {
  align-self: center;
}

.header__logo {
  width: 136px;
  margin: 8px 145px 0 0;
}

.header__links-list-item > a {
  text-underline-offset: 4px;
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.header__address {
  align-self: center;
  width: 240px;
}

.address {
  font-style: normal;
  line-height: 135%;
}

.address > a {
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 146px 50px 50px 50px;
  padding-bottom: 105px;
  color: #fff;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  padding-top: 20px;
}

.aligned-text_center {
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.description {
  color: #fff;
  word-spacing: 19px;
}

.button {
  width: 256px;
  min-height: 50px;
  border: 1px solid #fff;
  padding: 10px 0 10px 0;
  color: #fff;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 0 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cards-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  padding: 48px 40px 0 40px;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0 40px 48px 40px;
  color: #fff;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: flex;
  gap: 73px;
  margin: 150px 24px 180px 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 2px 0 0 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 149px;
  height: 114px;
  margin: 65px 0 0 46px;
}

.about__column {
  width: 693px;
  margin: 104px 0 0 0;
  text-wrap: balance;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-top: 24px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 147px;
  padding: 0px 50px 100px;
  font-size: 18px;
}

.footer__address {
  width: 250px;
}

.footer__menu {
  margin: 0 9px 0 0;
}

.footer__links-list {
  line-height: 120%;
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__links-list-item > a {
  text-underline-offset: 4px;
}
